# mail map file
# for cleaner output of e.g. `git shortlog -nes`

Nik Vaessen <nikvaes@gmail.com>
Nik Vaessen <nikvaes@gmail.com> <nikvaessen@users.noreply.github.com>
Bart van Andel <bavanandel@gmail.com>
